body {
	background: #202032;
	color: #E1E1E1;
}

.hidden {
	display: none;
}

.fa-caret-up, .fa-caret-right, .fa-caret-down, .fa-caret-left {
	font-size: 10em;
	color: #E1E1E1;
}

.modal-test {
	color: black;
}

body .modal-dialog {
	width: 150% !important;
}

@media screen and (min-width: 1400px) {
	.custom-class {
		width: 20%; /* either % (e.g. 60%) or px (400px) */
	}
}

.modalDialog {
	color: black;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	/*-webkit-transition: opacity 400ms ease-in;*/
	/*-moz-transition: opacity 400ms ease-in;*/
	/*transition: opacity 400ms ease-in;*/
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
